body {
  background-color: white;
}

.app-header {
  margin-top: 15px;
}

.app-header h1 {
  text-align: center;
}

.container {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 25px;
}

.single-row {
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.single-row:last-child {
  border-bottom: 0;
}

.single-row .app-link {
  display: block;
  color: black;
  font-weight: bold;
}

.profile-link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.commit-since {
  font-weight: normal;
}

.last-col {
  text-align: right;
}

.app-link {
  color: #61dafb;
}

.app-link:hover {
  color: rgb(3, 102, 214);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message {
  text-align: center;
  margin-top: 25px;
}

.message span {
  padding: 15px;
}

.error span {
  border: 2px solid #dc3545;
  color: #dc3545;
}

.info span {
  border: 2px solid #17a2b8;
  color: #17a2b8;
}
